*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
}

.main .number:nth-of-type(1){
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .number:nth-of-type(2) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}
.main .number:nth-of-type(3) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}
.main .number:nth-of-type(4) {
    border: 1px solid black;
    border-radius: 5px;
    width:24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}
.main .number:nth-of-type(5) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.main .number:nth-of-type(6) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.main .number:nth-of-type(7) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.main .number:nth-of-type(8) {
    border: 1px solid black;
    border-radius: 5px;
    width: 24%;
    height: 30px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
        justify-content: center;
        align-items: center;
}

